:root{
    --color-primary: rgba(255, 205, 29, 1);
    --color-primary_hover: rgba(255, 206, 29, 0.737);
    --color-white: white;
    --color-white_low: rgba(225, 225, 225, 1);
    --color-blue_dark:rgba(9, 0, 34, 1);
    --color-bg: rgba(0, 6, 15, 1);

    --gradient-yellow: linear-gradient(170.66deg, #FFCD1D 3.66%, #FFA723 97.3%);
    --gradient-blue: linear-gradient(81.73deg, #0052CD 1.94%, #13005F 96.88%);
    --gradient-box: linear-gradient(180deg, #001F4F 0%, rgba(0, 33, 83, 0) 94.19%);

}